@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

#navbarSupportedContent > ul > li {
  margin-right: 1.5rem;
}

@keyframes example {
    from {color: white;}
    to {color: #149dcc;}
}

#contact-join-facebook-group:hover {
  color: #149dcc !important;
  animation-name: example;
  animation-duration: 0.7s;
}

.city-bg {
  background-image: url('../images/city.jpg');
  background-color: rgba(0, 0, 0, 0.25);
}

.card-icon {
  width: 8rem !important;
}

.navbar-name {
  font-family: 'Pathway Gothic One', sans-serif !important;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  color: #149dcc;
}

.footer-link-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button-wrapper {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.gray-to-white-gradient {
  background: linear-gradient(#efefef, #ffffff) !important;
}

.white-to-gray-gradient {
  background: linear-gradient(#ffffff, #efefef) !important;
}

.embeded-video {
  max-width: 80%;
  max-height: 90%;
}